<<<<<<< HEAD
/* @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700;800;900&display=swap'); */
html{
  background-color: #4db6ac;
}
=======
:root {
  background-color: '#4db6ac';
}

>>>>>>> c87f5ac8e4e53eba3d9ee19fa017d82e71e7b3bb
body {
  background-color: #eeeeee;
  /* background-color: '#4db6ac'; */
  margin: 0;
}
