/* @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700;800;900&display=swap'); */
html{
  background-color: #4db6ac;
}
body {
  background-color: #eeeeee;
  /* background-color: '#4db6ac'; */
  margin: 0;
}
